* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url(./img/fundo.jpg);
}

.navegacao {
    position: fixed;
    top: 0;
    background-color: rgba(176, 224, 230, 0.8);
    width: 100%;
    z-index: 100;
    padding: 1.5rem;
}

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 3rem;
}

.menu-link {
    text-decoration: none;
    color: black;
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
}

.menu-link::after {
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: aquamarine;
    transition: width 0.5s ease;
}

.menu-link:hover::after {
    width: 100%;
}

.cabecalho {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.foto-perfil {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: top;
    box-shadow: 5px 5px 28px 5px #87E8FF;
    border-radius: 50%;
    border: 4px solid #87E8FF;
}

h1 {
    font-size: 3.5rem;
    font-weight: bold;
    margin: 20px;
}

.sub-titulo {
    font-size: 1rem;
}

.sobre {
    padding: 6rem 2rem;
}

.sobre-titulo {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 20px;
}

.sobre-caixa {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid #87E8FF;
    backdrop-filter: blur(10px);
    background-color: #fbfdfd;
}

.sobre-paragrafo {
    text-align: center;
    font-size: 1.2rem;
}

.projetos {
    padding: 6rem 2rem;
}

.projetos-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.projetos-card:hover {
    transform: translateY(-10px) scale(1.3);
}

.projetos-caixa {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.projetos-card {
    background: rgba(176, 224, 230, 0.8);
    border-radius: 5px;
    backdrop-filter: blur(5px);
    border: 1px solid white;
    overflow: hidden;
    transition: all 0.5s ease;
    cursor: pointer;
    padding: 20px;
}

.projetos-card h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.projetos-card p {
    font-size: 16px;
    color: #333;
}

.projetos-imagem {
    height: 150px;
    width: 100%;
    object-fit: cover;
}

.info-projetos {
    color: black;
    padding: 1rem;
}
